.header {
  height: 64px;
  color: white;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  position: sticky; 
  top: 0;
  z-index: 1000;
  position: relative;
}

.header img {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}